body {
    font-family: Arial, sans-serif;
}
#markdown-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
#goHome {
    cursor:pointer
}

:root {
    --selection: rgba(224, 146, 58, 0.35);
    --background: #ffffff;
    --text: #000000;
    --string: #D12E1B;
    --number: #696CE4;
    --title: #067DB0;
    --built_in: #804FB8;
    --keyword: #AD3DA4;
    --function: #e0923a;
    --params: #508be5;
    --comment: #7f7f7f;
  }
  
  
  pre code {
    display: block;
    overflow-x: auto;
    padding: 10px;
    background: var(--background);
    -webkit-text-size-adjust: none;
  }
  
  pre code *::selection,
  .hljs::selection {
    background: var(--selection) !important;
  }
  
  .hljs {
    color: var(--text);
  }
  
  .hljs-string {
    color: var(--string);
  }
  
  .hljs-number {
    color: var(--number) !important;
  }
  
  .hljs-title {
    color: var(--title) !important;
  }
  
  .hljs-built_in {
    color: var(--built_in) !important;
  }
  
  .hljs-keyword {
    color: var(--keyword) !important;
  }
  
  .hljs-function > .hljs-keyword {
    color: var(--function) !important;
    font-style: italic;
  }
  
  .hljs-params {
    color: var(--params);
  }
  
  .hljs-comment {
    color: var(--comment);
  }
  